/* 
    Document   : portal
    Created on : 07/12/2011, 11:40:17
    Author     : masdeval
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
	background: #FEFEFE url(../img/bg.png);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	margin: 0;
}

.logo {
	
	margin: 0px 0px 0px 10em;
	padding: -2px 0 0 0;
	width: 276px;
	height: 138px;
}

.logo img {
	width: 15em;
	margin: 26px 0 0 48px;
}

.topo {
	height: 137px;
	background: #FFBF00;
	margin: 0.5em 0 0 0;
	padding: 0;
	box-shadow: 3px 3px 0 #333;
}
.conta {
	width: 80em;
	height: 100%;
	margin: 0 auto;
	position: relative;
	
}
.criar-conta, .login-conta {
	float: left;	 
	
	
}
.heading {
	background: none repeat scroll 0% 0% #F9F8F8;
	border: 1px solid #DEDEDE;
	border-radius: 10px 10px 0px 0px;
	height: auto !important;
	margin-top: 33px;
	min-height: inherit;
	overflow: hidden;
	padding: 15px 25px;
	position: relative;
}
.main-content {
background: none repeat scroll 0% 0% #FFF;
border-top: 0px none;
padding: 25px 0px;
border: 1px solid #DDD;
font-size: 14px;
color: #222;
}
.columnListing {
    display: inline-block;
}
ol, ul {
    list-style: none outside none;
}
.columnListing .leftSide, .columnListing .rightSide {
    float: left;
    min-height: 525px;
    padding: 30px;
    position: relative;
    width: 436px;
}
.option-callout {
    background-color: #FFF;
    background-image: -moz-linear-gradient(center top , #FFF, #FBFBFB);
    border: 1px solid #DDD;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #FFF, 1px 1px 1px #FFF inset;
    color: #333;
    display: block;
    height: 40px;
    left: 38.5em;
    position: absolute;
    text-align: center;
    top: 27em;
    width: 40px;
}

.option-callout p {
    margin-top: 10px;
}

.columnListing .leftSide, .columnListing .rightSide {
    float: left;
    min-height: 525px;
    padding: 30px;
    position: relative;
    width: 37em;
}
.columnListing .leftSide {
    border-right: 1px solid #DDD;
}
.formBuscar {
	border: solid gray;
	margin: 50px;
	background: #FFBF00;
}

.botao_portal_vermelho {
	background: url(/img/barra_vermelho.png);
	color: white;
	margin: 0 auto;
	max-width: 200px;
	cursor: pointer;
	display: block;
	text-align: center;
}

.botao_portal_amarelo {
	background: url(/img/barra_amarelo.png);
	color: white;
	margin: 0 auto;
	max-width: 200px;
	cursor: pointer;
	display: block;
	text-align: center;
}

.msg_estabelecimento_fechado {
	font: 62.5% "Trebuchet MS", sans-serif;
}

.itensPedido {
	font-size: 12px;
	font-family: "Trebuchet MS", sans-serif;
	color: Orange;
}

.empresaPedido {
	font-weight: lighter;
	font-size: 12px;
	font-family: verdana;
	color: Black;
}